<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.file_field :pic %></div>

    <div><%= f.label :date_taken %>
    <%= f.month_field :date_taken %></div>


    <div><%= f.label :band %>
    <%= f.text_field :band %></div>

  <div><%= f.label :location %> <br />
    <%= f.text_field :location %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
